build
dist
docs
other
old

# Coverage
*coverage*
htmlcov

# Editor/IDEs
.idea
*.swp

# Python
*venv*
__pycache__
.python-version

# Misc
.*cache
.DS_Store

# Installer build artifacts
*.msi
*.exe
builds/
activitywatch-windows-x64/
